*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.bg-dark {
    background-color: none;
}
.px3{
    position: relative;
    border-radius: 25% 0;
    margin: 10px 30px;
    background-color: #6F6964;
}
header{
    position: relative;
    height: 100vh;
}
.figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 90px 50px;
    height: 61vh;
}
.figure p{
    margin: 29px;
    color: rgb(27, 15, 15);
}
.figure h2{
    margin: 30px;
    color: rgb(49, 44, 37);
}
.figure img{
    height: 450px;
}
.ratio{
    position: absolute;
}
.row1{
    margin: 79px;
}  
.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-around;
}
.text-muted1{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: bisque;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
}
.main{
    z-index: 1;
    background-image: linear-gradient(to top, #6f6964, #8d8883, #aba9a4, #cccac6, #edede9);
}
.nav-link a{
    color: bisque;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
    align-items: enter;
}
.navbar-collapse ul li a{
    color: bisque;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
    align-items: enter;
}
.d-flex{
    padding: 17px;
}
.collapse .navbar-collapse{
    z-index: 3;
}
.fa-bars{
    color: blanchedalmond;
}
.navbar{
    flex-wrap: nowrap;
    padding: 0 20px;
}
footer{
    height: 10vh;
}

/*ESTILOS PRODUCTOS*/
.mainProductos{
    width: 98.5vw;
    background-image: linear-gradient(to top, #6f6964, #8d8883, #aba9a4, #cccac6, #edede9);
}
.cardProductos{
    border:solid 2px rgb(182, 181, 181);
    border-radius: 15px;
    margin: 10px 5px;
}
.card-title{
    font-family: 'Dancing Script', cursive;
    font-size: 6vh;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(75, 74, 74, 0.84);
}
.card-text{
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
}

/*ESTILOS CONTACTO*/

.headerPages{
    height: 15vh;
    background-color: rgb(116, 104, 88);
    padding-top: 1vh;
}
.formContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.imgContact{
    width: 45vw;
}
.form-control{
    margin-top: 15px;
    width: 30vw;
}
.nombre{
    margin-top: 40px;
}
.form-select{
    margin-top: 15px;
}
.col-auto{
    margin-top: 15px;
}
.formBtn{
    margin-top: 15px;
}
.btn-success{
    background-color: rgb(88, 33, 33);
}
.containerFooter{
    height: 6vh;
    padding-bottom: 0%;
}


/*MEDIA QUERYS*/

@media(max-width: 1024px){
    .img1{ 
        width: 180px;
        height: 180px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    .imgCard{
        height: 50vh;
    }
    .figure span{
        font-size: 2em;
    }
    .lead{
        font-size: 12px;
    }
    .figure{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 90px;
        height: 60vh;
    }
    .figure p{
        margin: 29px;
        color: rgb(27, 15, 15);
    }
    .figure h2{
        margin: 30px;
        color: rgb(49, 44, 37);
    }
    .figure img{
        height: 400px;
    }
    .formContact{
        align-items: center;
    }
    .formContainer{
        justify-content: space-around;
    }
    .imgContact{
        width: 50vw;
        height: 55vh;
    }
    .nombre{
        margin-top: 5vh;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    header{
        height: 80vh;
    }
    div .p-lg-5{
        margin-top: 100px;
    }
    .card{
        width: 40vw;
    }
    .imgCard{
        height: 200px;
    }
    .figure{
        height: 80vh;
        width: 90vw;
        margin: 10px;
        text-align: center;
    }
    .figure img{
        height: 300px;
        width: auto;
    }
    .figure .text-muted1{
        font-size: 22px;
    }
    .display-5{
        font-size: 1rem;
    }
    .imgCard{
        height: 40vh;
    }
    p .lead{
        font-size: 10px;
    }
    .d-md-flex{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .formContact{
        justify-content:space-around;
        width: 90vw;
    }
    .imgContact{
        width: 45vw;
        height: 40vh;
    }
    .form-control{
        width: 50vw;
    }
    .form-select{
        width: 50vw;
    }
    .card-text{
        font-size: 2vh;
    }
    .mainProductos{
        width: 100vw;
        flex-wrap: rap;
    }
    .cardProductos{
        flex-wrap: rap;
    }
    .col{
        padding: 2px;
    }
}

@media (max-width: 425px) {

    header{
        height: 30vh;
    }
    .logoFooter{
        width: 40vw;
    }
    .figure {
        flex-direction: column;
    }
    .figure img{
        height: 200px;
    }
    .card{
        width: 90vw;
        align-items: center;
    }
    .px3{
        position: relative;
        border-radius: 5%;
        margin: 10px auto;
        background-color: #6F6964;
    }
    .d-flex {
        padding: 0;
    }
    .formContainer{
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .imgContact{
        width: 90vw;
        height: 30vh;
        margin-top: 5vh;
    }
    .formContact{
        margin-top: 3vh;
    }
    .form-control{
        width: 90vw;
    }
    .form-select{
        width: 90vw;
    }
    .nombre{
        margin-top: 0;
    }
    .cardProductos{
        width: 88vw;
    }
    .col{
        padding: 0 4vw;
    }
}

